#about {
  background: var(--col-grey-lt);
  min-height: 100vh;
}

#about .bio {
  text-align: center;
}

#about .wordcloud {
  width: 80%;
  margin: auto;
}

#about .wordcloud img {
  width: 100%;
  height: auto;
}

#about ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#about .proficiencies {
  border-top: 1px solid var(--col-blue-brt);
  padding-top: 1em;
  text-align: center;
}

#about .proficiencies ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#about .proficiencies li {
  border: 1px solid var(--col-grn-med);
  padding: 5px 10px;
  margin: 2px 2px;
  border-radius: 20px;
  background-color: var(--col-grn-lt);
}

#about .proficiencies .languages,
#about .proficiencies .tools {
  margin-top: 10px;
}
