#about
{
  background-color: var(--col-blue-lt);
  min-height: 100vh;
}

#about h2,
#about h3,
#about h4 {
  text-align: center;
}

#about h2 {
  padding-top: 10%;
  padding-bottom: 10px;
}

#about h4.text-head {
  text-align: left;
}

#about .wrapper #proficiencies .wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media screen and (min-width: 700px) {
  #about {
    background: linear-gradient(178deg, var(--col-grey-lt) 10%, var(--col-blue-lt) 10%, var(--col-blue-lt) 80%, #fff 80%);
  }

  #about .wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}