:root {
  --bg-colour: #000028;
}

body {
  margin: 0 auto;
  height: 100vh;
  background-color: var(--bg-colour);
}

#root {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.pathfind-box {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 600px) {
  .pathfind-box {
    position: block;
    top: 0;
    left: 0;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 34%;
    height: 100%;
    width: 66%;
  }
}

.h-text {
  height: 85%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 33% 34% 33%;
}

@media screen and (min-width: 600px) {
  .h-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 66%;
  }
}

.text-content {
  color: #fff;
}

.name {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  margin-right: 15%;

  text-align: right;
  font-size: 36px;
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  .name {
    grid-column: 2 / span 1;
    display: block;
    text-align: left;
    margin: 0;
    font-size: 52px;
  }
}

.tag {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
  margin-left: 20%;

  text-align: left;
  font-size: 24px;
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  .tag {
    display: block;
    margin: 0;
    padding-top: 2%;
    font-size: 32px;
  }
}

.statement {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: center;
  margin: 0 20% 10%;
}

@media screen and (min-width: 600px) {
  .statement {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: block;
    text-align: left;
    margin: 0;
    padding-top: 15%;
    margin-right: 30px;
    max-width: 350px;
    font-size: 18px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 3%;
}

@media screen and (min-width: 600px) {
  .buttons {
    justify-content: right;
  }
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn:not(.svg-btn) {
  margin: 0 15px;
  border: 1px solid #fff;
  padding: 5px 10px;
  color: #fff;
  font-size: 18px;
  transition: all 0.1s ease-out;
}

.btn:not(.svg-btn):hover {
  border-color: var(--bg-colour);
  background-color: #ffffffcc;
  color: var(--bg-colour);
}

.svg-btn {
  margin: 0 7.5px;
}

.svg-btn svg {
  fill: #ffffffcc;
  width: 40px;
  height: 40px;
}

.svg-btn svg {
  transition: all 0.1s ease-out;
}

.svg-btn:hover svg {
  fill: #fff;
}

.contact-form-box {
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #060665;
  text-align: center;
  transition: right 500ms ease-out;
}

.contact-form-box.out {
  right: 0;
}

@media screen and (min-width: 600px) {
  .contact-form-box {
    width: 50%;
  }
}

.contact-form-box h2 {
  font-size: 36px;
  height: 10%;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .contact-form-box h2 {
    font-size: 52px;
  }
}

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-form :is(input, textarea) {
  margin: 5px 5% 10px;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  padding-bottom: 3px;
  border-bottom: 2px solid #ddddddcc;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  transition: border-bottom 250ms linear,
    padding-bottom 250ms linear;
}

.contact-form :is(input, textarea)::placeholder {
  color: #ffffffcc;
  transition: color 250ms linear;
}

.contact-form :is(input, textarea):focus {
  padding-bottom: 2px;
  border-bottom: 3px solid #ddddddff;
}

.contact-form :is(input, textarea):focus::placeholder {
  color: #00000000;
}

.contact-form textarea {
  height: 12em;
}

.contact-form :is(input.invalid, textarea.invalid) {
  padding-bottom: 0px;
  border-bottom: 5px solid #FF343B;
}

.contact-form :is(input.valid, textarea.valid) {
  padding-bottom: 2px;
  border-bottom: 3px solid #00c020;
}

.contact-form .errmsg {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  color: #FF343B;
  font-size: 0.8em;
}

.btn.btn-submit {
  background-color: #5ba456;
  border: none;
  width: 50%;
  height: 40px;
  margin: 0 auto 10px;
}

.btn.btn-submit:hover {
  background-color: #00c020;
  transform: scale(1.05);
}

.btn.btn-close {
  font-size: 16px;
  width: 50%;
  height: 40px;
  margin: 0 auto 10%;
}