:root {
  --pillar-height: 300px;
  --pillar-width: 200px;
  --bg-colour: #000028
}

body {
  margin: 0 auto;
  height: 100vh;
  background-color: var(--bg-colour);
}

#root {
  height: 100%;
}

.pathfind-box {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100vw;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.pathfind-placeholder {
  transform: translate(-18%) rotateX(60deg) rotateZ(45deg);
  margin: auto;
  width: 500px;
  aspect-ratio: 1/1;
  background-color: #cccccc78;
  text-align: center; 
}

.h-text {
  height: 90%;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 33% 34% 33%;
}

.text-content {
  color: #fff;
}

.name {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  margin-right: 20px;
  
  text-align: right;
  font-size: 36px;
  font-weight: 600;
}

.tag {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
  margin-left: 20px;

  font-size: 24px;
  font-weight: 600;
}

.statement {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 0 3%;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn:not(.svg-btn) {
  margin: 0 15px;
  border: 1px solid #fff;
  padding: 5px 10px;
  color: #fff;
  font-size: 18px;
  transition: all 0.1s ease-out;
}

.btn:not(.svg-btn):hover {
  border-color: var(--bg-colour);
  background-color: #ffffffcc;
  color: var(--bg-colour);
}

.svg-btn {
  margin: 0 7.5px;
}

.svg-btn svg {
  fill: #ffffffcc;
  width: 40px;
  height: 40px;
}

.svg-btn svg {
  transition: all 0.1s ease-out;
}

.svg-btn:hover svg {
  fill: #fff;
}



/* These styles are for a tall hexagon. */
/* .pathfind-bar {
  margin: auto;
  margin-top: 100px;
  width: var(--pillar-width);
  height: var(--pillar-height);
  background: #000000aa;
  position: relative;
}

.pathfind-bar::before {
  content: "";
  position: absolute;
  top: calc(-1 * (var(--pillar-width) * 0.287675));
  left: 0;
  width: 0;
  height: 0;
  border-left: calc(var(--pillar-width) * 0.5) solid transparent;
  border-right: calc(var(--pillar-width) * 0.5) solid transparent;
  border-bottom: calc(var(--pillar-width) * 0.287675) solid #000000aa;
}

.pathfind-bar::after {
  content: "";
  position: absolute;
  bottom: calc(-1 * (var(--pillar-width) * 0.287675));
  left: 0;
  width: 0;
  height: 0;
  border-left: calc(var(--pillar-width) * 0.5) solid transparent;
  border-right: calc(var(--pillar-width) * 0.5) solid transparent;
  border-top: calc(var(--pillar-width) * 0.287675) solid #000000aa;
} */
