body {
  margin: 0 auto;
}

.grid-container {
  display: grid;
}

.cell {
  border: 1px solid black;
  /* height: 50px; temp */
  width: 100%;
}

.populated {
  background-color: red !important;
}

.target {
  background-color: yellow !important;
}