#nav {
  margin: 0;
  padding: 5px 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--col-blue-drk);
  animation: 2s ease fadeInLate;
}

#nav ul {
  margin: 0 auto;
  padding: 0;
}

#nav li {
  display: inline;
  margin: 0;
  padding: 0 15px 10px;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  color: #fff;
  transition: width 0.5s cubic-bezier(0.10, 0.20, 0.30, 1);
}

#nav li::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translatex(-50%);
  height: 3px;
  width: 0;
  background-color: var(--col-grn-brt);
  transition: width 0.5s cubic-bezier(0.10, 0.20, 0.30, 1);
}

#nav li:hover {
  color: var(--col-grn-brt);
}

#nav li:hover::after{
  width: 80%;
}

@keyframes fadeInLate {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}