#nav {
  margin: 0;
  padding: 20px 0;
  border: 1px solid var(--col-grey-lt);
}

#nav ul {
  margin: 0 auto;
  padding: 0;
}

#nav li {
  display: inline;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  border-radius: 30px;
}

#nav li:hover {
  background-color: var(--col-grey-lt);
}