.grid-container {
  display: grid;
  /* gap: 0.5%; */
  width: 50vw;
  transform: rotateX(45deg) rotateZ(45deg) translate(10vw, -10vw);
}

.cell {
  width: 100%;
  height: auto;
  border-radius: 25%;
}

.visited {
  background-color: rgba(167, 0, 0, 0.67) !important;
}

.targeted {
  background-color: yellow !important;
}

.populated {
  background-color: red !important;
}