.grid-container {
  display: grid;
  opacity: 0;
  transition: opacity .66s ease;
}

.cell {
  width: 100%;
  height: auto;
  border-radius: 25%;
}

.visited {
  background-color: rgba(167, 0, 0, 0.67) !important;
}

.targeted {
  background-color: #ffff00 !important;
}

.populated {
  background-color: #ff0000 !important;
}