#pathfind {
  margin-left: 25%;
  /* background-color: var(--col-blue-drk); */
  border-left: 1px solid black;
}

.grid-container {
  display: grid;
  width: 50vw;
  margin-left: 64%;
  transform: rotateX(55deg) rotateZ(45deg) translate(-50%, 50%);
}

.cell {
  width: 100%;
  height: auto;
  border-radius: 25%;
}

.visited {
  background-color: rgba(167, 0, 0, 0.67) !important;
}

.targeted {
  background-color: yellow !important;
}

.populated {
  background-color: red !important;
}