#projects h2 {
  background: var(--col-grn-drk);
  padding: 10px 0;
}

#projects .project {
  padding: 10px 0;
  border-top: 1px solid var(--col-grn-drk);
}

#projects .project:nth-child(1) {
  border-top: none;
}

#projects .project:nth-child(odd) {
  background: var(--col-grn-lt);
  background: linear-gradient(90deg, var(--col-grn-lt) 15%, var(--col-grn-med) 75%, var(--col-grn-drk) 90%);
}

#projects .project:nth-child(even) {
  background: var(--col-grn-lt);
  background: linear-gradient(270deg, var(--col-grn-lt) 10%, var(--col-grn-med) 20%, var(--col-grn-drk) 85%);
  text-align: right;
}

#projects .project p {
  margin: 0;
}
