#top {
  height: 100vh;
  min-height: 560px; 
  background-color: var(--col-grey-lt);
}

#top .width-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100%;
}

#top h1 {
  margin: auto 0;
  grid-column: 1 / span 1;
  font-family: Cambria, serif;
  font-size: 3em;
  font-weight: 500;
  animation: 2.5s ease fadeInLate;
}

#top #pathfind {
  width: 70%;
  grid-column: 2 / span 1;
  margin: auto;
  transform: rotateX(55deg) rotateZ(45deg);
  opacity: 0;
  transition: opacity .66s ease;
}

@keyframes fadeInLateLate {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}