:root {
  /* Colour palette */
  --col-blue-lt: #9ABFCA;
  --col-blue-lt-2: #9ed2e2;
  --col-blue-drk: #353648;
  --col-blue-brt: #209bed;
  --col-blue-brt-2: #9bc5e1;

  --col-grn-lt: #8DBCAF;
  --col-grn-med: #6C9F8A;
  --col-grn-drk: #4C6F61;
  --col-grn-brt: #5ba456;

  --col-grey-lt: #E5E7EB;
  --col-grey-med: #B0B1B3;
  --col-grey-drk: #534959;
  --col-grey-drk-clear: #53495900;

  --col-gold-soft: #E1D9A5;
  --col-gold-strong: #F4C778;

  --col-warning-red: #FF343B;

  /* Fonts */
  --font-body: Calibri, Arial, sans-serif;
  --font-title: monospace, monospace;
  --font-subtitle: Verdana, Arial, sans-serif;
}

body {
  margin: 0 auto;
  font-family: var(--font-body);
  line-height: 1.5;
  font-size: 1.2em;
}

.width-wrapper {
  max-width: 1024px;
  margin: auto;
}

textarea {
  font-family: var(--font-body);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-subtitle);
  font-weight: 500;
  margin: 0;
  line-height: 1.1;
}

h2.title {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 2em;
  font-family: var(--font-title);
}

h2.title::after {
  position: absolute;
  width: 50px;
  height: 3px;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #000;
}

@media screen and (max-width: 1023px) {
  p, li {
    font-size: 0.8em !important;
  }

  .width-wrapper {
    margin: 0 5% 0;
   }
}