.grid-container {
  display: grid;
  transform: rotateX(65deg) rotateZ(45deg);
}

.cell {
  width: 100%;
  height: auto; 
}

.visited {
  background-color: rgba(167, 0, 0, 0.67) !important;
}

.targeted {
  background-color: #ffff00 !important;
}

.populated {
  background-color: #ff0000 !important;
}