:root {
  --view-angle: 60deg;
}

.grid-container {
  width: calc(5 * var(--pillar-width));
  aspect-ratio: 1/1;
}

.visited.top {
  background-color: rgba(167, 0, 0) !important;
}

.targeted.top {
  background-color: #ffff00 !important;
}

.populated.top {
  background-color: #ff0000 !important;
}

.cell.box {
  position: relative;
  width: 0;
  height: 0;
}

.cell.top {
  position: absolute;
  /* top: calc(-1 * var(--pillar-height)); */
  width: var(--pillar-width);
  aspect-ratio: 1/1;
  transform: rotateX(var(--view-angle)) rotate(45deg);
  background-color: #5050ee;
  border: 1px solid black;
}

.cell.tower.left {
  position: absolute;
  bottom: calc(-0.678 * var(--pillar-width) - 2px);
  left: calc(-0.205 * var(--pillar-width));
  width: calc(0.705 * var(--pillar-width) - 1px);
  transform: skewY(26.5deg);
  background-color: #5050ee;
  border: 1px solid black;
}

.cell.tower.right {
  position: absolute;
  bottom: calc(-0.678 * var(--pillar-width) - 2px);
  left: calc(0.5 * var(--pillar-width));
  width: calc(0.705 * var(--pillar-width) - 1px);
  transform: skewY(-26.5deg);
  background-color: #5050ee;
  border: 1px solid black;
}
