:root {
  --view-angle: 60deg;
  --skew-angle: 26.5deg;
}

.grid-container {
  transform: rotateZ(45deg);
  width: calc(var(--grid-size-x) * var(--pillar-width));
  height: calc(var(--grid-size-y) * var(--pillar-width));
}

.visited.top {
  background-color: rgb(224, 130, 63) !important;
}

.targeted.top {
  background-color: #a4a4ff !important;
}

.populated.top {
  background-color: rgb(255, 106, 0) !important;
}

.cell.box {
  position: relative;
  width: 0;
  height: 0;
  transform: rotateZ(-45deg);
}

.cell.top {
  position: absolute;
  /* top: calc(-1 * var(--pillar-height)); */
  width: var(--pillar-width);
  aspect-ratio: 1/1;
  transform: rotateX(var(--view-angle)) rotateZ(45deg);
  background-color: #5050ee;
  border: 1px solid black;
}

.cell.tower.left {
  position: absolute;
  bottom: calc(-0.678 * var(--pillar-width) - 2px);
  left: calc(-0.205 * var(--pillar-width));
  width: calc(0.705 * var(--pillar-width) - 1px);
  transform: skewY(var(--skew-angle));
  background-color: #5050ee;
  border: 1px solid black;
}

.cell.tower.right {
  position: absolute;
  bottom: calc(-0.678 * var(--pillar-width) - 2px);
  left: calc(0.5 * var(--pillar-width));
  width: calc(0.705 * var(--pillar-width) - 1px);
  transform: skewY(calc(-1 * var(--skew-angle)));
  background-color: #5050ee;
  border: 1px solid black;
}
